#background {
    height: 725px;
    background-color:rgb(54, 24, 4);
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #FEEAFA;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.button-box{
    text-align: center;
}

.book, .join{
    background-color: rgb(77, 255, 115);
    color: #161827;
    text-decoration: none;
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;

}

.book:hover , .join:hover{
    background-color: #FEEAFA;
    color: #161827;
} 

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    text-decoration: none;
    color:#4d4d4d;
    padding: 35px;
}

nav a:hover{
    background-color: rgb(255, 255, 255);
    color: #313131;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}

#hero_box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
} 
/* 이거 적용이 안됨 왜...? */

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h2{
    text-align: center;
    color: white;
}

#hero-msg h4{
    text-align: center;
    color: white;
}

#hero-image {
    width: 100%;

}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section{
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: #DEE2FF;
    display: grid;
    grid-template-columns: 150px auto;
}

.msg {
    background-color: rgb(173, 128, 98);
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 6/10;
    grid-row: 6/7;
}

.msg h2 {
    color:antiquewhite;
}

.msg p {
    color:#FEEAFA;
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    padding-bottom: 15px;
    
}

.home-title {
    color:#161827;
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:rgb(91, 94, 94);
}

h2 {
    margin: 0;
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #EFD3D7;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color:rgb(126, 117, 106);
}

footer a {
    color:rgb(114, 114, 114);
    text-decoration: none;
}

footer a:hover {
    color:yellow;
}

.social {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card, .rapids-card2{
    margin: 50px 0;
    font-size: 10px;
}

.rivers-card {
    grid-column: 2/5;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 7/10;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 2/5;
    grid-row: 4/5;
}

.rapids-card2 {
    grid-column: 7/10;
    grid-row: 4/5;
}

.last-words {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.text_box {
    grid-column: 3/9;
    grid-row: 1/2;
    align-items: center;
    padding-left: 15px;
    font-size: 50px;
    border: #4d4d4d;
    background-color: #97f1db;
    border-radius: 4px;
}

.menu {
    padding-top: 10px;
    font-size: 20px;
    padding-left: 20px;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .last-words, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

