#background {
    height: 725px;
    background-color:rgb(54, 24, 4);
    
}

body {
    background-color: #FEEAFA;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.button-box{
    text-align: center;
}

.book, .join{
    background-color: rgb(77, 255, 115);
    color: #161827;
    text-decoration: none;
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;

}

.book:hover , .join:hover{
    background-color: #FEEAFA;
    color: #161827;
} 

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.card-img {
    border: 10px solid #d9c2a3;
}

nav a{
    text-align: center;
    text-decoration: none;
    color:#4d4d4d;
    padding: 35px;
}

nav a:hover{
    background-color: rgb(255, 255, 255);
    color: #313131;
}

#hero-msg h2{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

#hero-image {
    width: 100%;
}

main section{
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: #DEE2FF;
}

.msg {
    background-color: rgb(54, 24, 4);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color:antiquewhite;
}

.msg p {
    color:#FEEAFA;
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    padding-bottom: 15px;
}

.home-title {
    color:#161827;
    font-family: 'Rock Salt','Bradley Hand', sans-serif;
    font-size: 2em;
}

h4 {
    color:rgb(91, 94, 94);
}

h2 {
    margin: 0;
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #EFD3D7;
    padding: 25px 50px;
}

footer h3 {
    color:rgb(126, 117, 106);
}

footer a {
    color:rgb(114, 114, 114);
    text-decoration: none;
}

footer a:hover {
    color:yellow;
}

.social {
    padding-top: 15px;
}